In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results.csv')
df = df.reset_index(drop=True)
df.head(10)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,50113315,NaN,Brooklyn,376,86 STREET,11209.0,7733518949,NaN,1/1/1900,NaN,...,NaN,40.622901,-74.028833,310.0,43.0,6000.0,3153491.0,3.060440e+09,BK31,NaN
1,50107999,HALAL AMERICAN BEST CHICKEN WINGS,0,959,NASSAU RD,11553.0,3477509185,NaN,1/1/1900,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50119062,NaN,Brooklyn,1714,NOSTRAND AVENUE,11226.0,7183606991,NaN,1/1/1900,NaN,...,NaN,40.643954,-73.948849,317.0,45.0,82600.0,3119228.0,3.051730e+09,BK95,NaN
3,50133892,NaN,Brooklyn,25,KENT AVENUE,11249.0,6467083456,NaN,1/1/1900,NaN,...,NaN,40.723378,-73.958414,301.0,33.0,55700.0,3425961.0,3.022820e+09,BK73,NaN
4,50118471,NaN,Brooklyn,7310,20 AVENUE,11204.0,3475987199,NaN,1/1/1900,NaN,...,NaN,40.611879,-73.990697,311.0,47.0,26800.0,3159166.0,3.062060e+09,BK28,NaN
5,50131247,STND COFFEE,Brooklyn,1059,MANHATTAN AVENUE,11222.0,3479936113,NaN,1/1/1900,NaN,...,NaN,40.734908,-73.955044,301.0,33.0,56300.0,3423608.0,3.025048e+09,BK76,NaN
6,50117551,COSI,Manhattan,532,WEST 46 STREET,10036.0,3123101336,Sandwiches,5/31/2022,No violations were recorded at the time of thi...,...,Calorie Posting / Initial Inspection,40.762743,-73.994986,104.0,3.0,12900.0,1026948.0,1.010740e+09,MN15,NaN
7,50133823,Lifestyle 1104 juice bar,Bronx,6,EAST 167 STREET,10452.0,7184962081,NaN,1/1/1900,NaN,...,NaN,40.836007,-73.922121,204.0,16.0,19700.0,2003026.0,2.024960e+09,BX63,NaN
8,50130002,NaN,Manhattan,77,7 AVENUE,10011.0,8625960696,NaN,1/1/1900,NaN,...,NaN,40.738899,-73.999415,104.0,3.0,8100.0,1014515.0,1.007900e+09,MN13,NaN
9,50119878,NaN,Queens,25307,NORTHERN BLVD,11362.0,7187080676,NaN,1/1/1900,NaN,...,NaN,40.770810,-73.735382,411.0,19.0,147900.0,4169411.0,4.081320e+09,QN45,NaN

In [ ]:
df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA', 'Location Point1'],
      dtype='object')

In [ ]:
missing_values = df.isnull().sum()
missing_values

CAMIS                         0
DBA                        1771
BORO                          0
BUILDING                    308
STREET                       26
ZIPCODE                    2857
PHONE                        12
CUISINE DESCRIPTION        4385
INSPECTION DATE               0
ACTION                     4385
VIOLATION CODE             5583
VIOLATION DESCRIPTION      5583
CRITICAL FLAG                 0
SCORE                     10939
GRADE                    103606
GRADE DATE               110694
RECORD DATE                   0
INSPECTION TYPE            4385
Latitude                    306
Longitude                   306
Community Board            3374
Council District           3374
Census Tract               3374
BIN                        4463
BBL                         543
NTA                        3374
Location Point1          205321
dtype: int64

In [ ]:
df = df.dropna(subset=['DBA', 'BUILDING', 'ZIPCODE', 'CUISINE DESCRIPTION','ACTION','VIOLATION CODE','VIOLATION DESCRIPTION','INSPECTION TYPE','NTA','BBL','BIN','Council District','Latitude','Longitude','Census Tract','Community Board','SCORE'])

In [ ]:
df = df.drop('Location Point1', axis=1)
df = df.drop('PHONE', axis=1)
df = df.drop('GRADE DATE', axis=1)

In [ ]:
missing_values = df.isnull().sum()
missing_values

CAMIS                        0
DBA                          0
BORO                         0
BUILDING                     0
STREET                       0
ZIPCODE                      0
CUISINE DESCRIPTION          0
INSPECTION DATE              0
ACTION                       0
VIOLATION CODE               0
VIOLATION DESCRIPTION        0
CRITICAL FLAG                0
SCORE                        0
GRADE                    89096
RECORD DATE                  0
INSPECTION TYPE              0
Latitude                     0
Longitude                    0
Community Board              0
Council District             0
Census Tract                 0
BIN                          0
BBL                          0
NTA                          0
dtype: int64

In [ ]:
df.shape

(185772, 24)

In [ ]:
from datetime import datetime, timedelta
# convert 'INSPECTION DATE' column to datetime format
df['INSPECTION DATE'] = pd.to_datetime(df['INSPECTION DATE'])

# calculate the date five years ago from today
five_years_ago = datetime.now() - timedelta(days=5*365)

# filter the dataset for inspections done in the last five years
df = df[df['INSPECTION DATE'] > five_years_ago]

<ipython-input-68-6dfcca41763f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['INSPECTION DATE'] = pd.to_datetime(df['INSPECTION DATE'])

In [ ]:
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
40,41676490,AOYU SUSHI,Bronx,3532,JOHNSON AVENUE,10463.0,Japanese,2019-03-05,Violations were cited in the following area(s).,02B,...,4/6/2023,Cycle Inspection / Initial Inspection,40.886026,-73.909849,208.0,11.0,29500.0,2084151.0,2.057930e+09,BX29
75,50082192,SUMO SUSHI,Brooklyn,139,HAVEMEYER STREET,11211.0,Japanese,2019-10-03,Violations were cited in the following area(s).,02B,...,4/6/2023,Cycle Inspection / Initial Inspection,40.711987,-73.957281,301.0,34.0,52300.0,3330369.0,3.024090e+09,BK73
78,50090510,RICO POLLO III,Brooklyn,4523,5 AVENUE,11220.0,Spanish,2022-05-18,Violations were cited in the following area(s).,02B,...,4/6/2023,Cycle Inspection / Initial Inspection,40.647723,-74.007575,307.0,38.0,9600.0,3329833.0,3.007480e+09,BK34
86,50054404,EL NUEVO JOBO RESTAURANT & BAR,Manhattan,3915,BROADWAY,10032.0,Latin American,2022-07-07,Violations were cited in the following area(s).,02B,...,4/6/2023,Cycle Inspection / Initial Inspection,40.838234,-73.941837,112.0,7.0,24500.0,1063371.0,1.021370e+09,MN36
90,50087216,BUUNNI COFFEE,Manhattan,4961,BROADWAY,10034.0,Coffee/Tea,2022-09-22,Violations were cited in the following area(s).,04M,...,4/6/2023,Cycle Inspection / Re-inspection,40.867974,-73.920247,112.0,10.0,30300.0,1064994.0,1.022420e+09,MN01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205316,50001468,BLUE RIBBON FRIED CHICKEN,Manhattan,28,EAST 1 STREET,10003.0,Chicken,2022-03-16,Violations were cited in the following area(s).,10B,...,4/6/2023,Cycle Inspection / Initial Inspection,40.724324,-73.990937,103.0,2.0,3602.0,1087698.0,1.004570e+09,MN22
205317,50072483,King of Spades,Queens,1425,COLLEGE POINT BLVD,11356.0,American,2022-09-20,Violations were cited in the following area(s).,08A,...,4/6/2023,Cycle Inspection / Re-inspection,40.784732,-73.845775,407.0,19.0,92900.0,4098349.0,4.040850e+09,QN23
205318,50080649,TURKO'S GRILL,Brooklyn,110,MOORE STREET,11206.0,Mediterranean,2019-06-05,Violations were cited in the following area(s).,10H,...,4/6/2023,Pre-permit (Non-operational) / Re-inspection,40.703872,-73.941215,301.0,34.0,49100.0,3071521.0,3.031060e+09,BK90
205319,41471899,MING XING BBQ RESTAURANT,Queens,3514,FARRINGTON STREET,11354.0,Korean,2022-04-25,Violations were cited in the following area(s).,04L,...,4/6/2023,Cycle Inspection / Initial Inspection,40.764151,-73.831668,407.0,20.0,86900.0,4315215.0,4.049580e+09,QN22
205320,50095290,SUBCONSCIOUS,Manhattan,1213,AMSTERDAM AVENUE,10027.0,Sandwiches/Salads/Mixed Buffet,2020-02-26,Violations were cited in the following area(s).,02B,...,4/6/2023,Cycle Inspection / Re-inspection,40.809103,-73.959371,109.0,7.0,20701.0,1059514.0,1.019620e+09,MN09

In [ ]:
# Fill missing values in the DBA and CUISINE DESCRIPTION columns with "Not Specified"
df = df.fillna({ 
                 'GRADE': 'Not Graded'
               })

In [ ]:
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
40,41676490,AOYU SUSHI,Bronx,3532,JOHNSON AVENUE,10463.0,Japanese,2019-03-05,Violations were cited in the following area(s).,02B,...,4/6/2023,Cycle Inspection / Initial Inspection,40.886026,-73.909849,208.0,11.0,29500.0,2084151.0,2.057930e+09,BX29
75,50082192,SUMO SUSHI,Brooklyn,139,HAVEMEYER STREET,11211.0,Japanese,2019-10-03,Violations were cited in the following area(s).,02B,...,4/6/2023,Cycle Inspection / Initial Inspection,40.711987,-73.957281,301.0,34.0,52300.0,3330369.0,3.024090e+09,BK73
78,50090510,RICO POLLO III,Brooklyn,4523,5 AVENUE,11220.0,Spanish,2022-05-18,Violations were cited in the following area(s).,02B,...,4/6/2023,Cycle Inspection / Initial Inspection,40.647723,-74.007575,307.0,38.0,9600.0,3329833.0,3.007480e+09,BK34
86,50054404,EL NUEVO JOBO RESTAURANT & BAR,Manhattan,3915,BROADWAY,10032.0,Latin American,2022-07-07,Violations were cited in the following area(s).,02B,...,4/6/2023,Cycle Inspection / Initial Inspection,40.838234,-73.941837,112.0,7.0,24500.0,1063371.0,1.021370e+09,MN36
90,50087216,BUUNNI COFFEE,Manhattan,4961,BROADWAY,10034.0,Coffee/Tea,2022-09-22,Violations were cited in the following area(s).,04M,...,4/6/2023,Cycle Inspection / Re-inspection,40.867974,-73.920247,112.0,10.0,30300.0,1064994.0,1.022420e+09,MN01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205316,50001468,BLUE RIBBON FRIED CHICKEN,Manhattan,28,EAST 1 STREET,10003.0,Chicken,2022-03-16,Violations were cited in the following area(s).,10B,...,4/6/2023,Cycle Inspection / Initial Inspection,40.724324,-73.990937,103.0,2.0,3602.0,1087698.0,1.004570e+09,MN22
205317,50072483,King of Spades,Queens,1425,COLLEGE POINT BLVD,11356.0,American,2022-09-20,Violations were cited in the following area(s).,08A,...,4/6/2023,Cycle Inspection / Re-inspection,40.784732,-73.845775,407.0,19.0,92900.0,4098349.0,4.040850e+09,QN23
205318,50080649,TURKO'S GRILL,Brooklyn,110,MOORE STREET,11206.0,Mediterranean,2019-06-05,Violations were cited in the following area(s).,10H,...,4/6/2023,Pre-permit (Non-operational) / Re-inspection,40.703872,-73.941215,301.0,34.0,49100.0,3071521.0,3.031060e+09,BK90
205319,41471899,MING XING BBQ RESTAURANT,Queens,3514,FARRINGTON STREET,11354.0,Korean,2022-04-25,Violations were cited in the following area(s).,04L,...,4/6/2023,Cycle Inspection / Initial Inspection,40.764151,-73.831668,407.0,20.0,86900.0,4315215.0,4.049580e+09,QN22
205320,50095290,SUBCONSCIOUS,Manhattan,1213,AMSTERDAM AVENUE,10027.0,Sandwiches/Salads/Mixed Buffet,2020-02-26,Violations were cited in the following area(s).,02B,...,4/6/2023,Cycle Inspection / Re-inspection,40.809103,-73.959371,109.0,7.0,20701.0,1059514.0,1.019620e+09,MN09

In [ ]:
missing_values = df.isnull().sum()
missing_values

CAMIS                    0
DBA                      0
BORO                     0
BUILDING                 0
STREET                   0
ZIPCODE                  0
CUISINE DESCRIPTION      0
INSPECTION DATE          0
ACTION                   0
VIOLATION CODE           0
VIOLATION DESCRIPTION    0
CRITICAL FLAG            0
SCORE                    0
GRADE                    0
RECORD DATE              0
INSPECTION TYPE          0
Latitude                 0
Longitude                0
Community Board          0
Council District         0
Census Tract             0
BIN                      0
BBL                      0
NTA                      0
dtype: int64

In [ ]:
# Convert 'INSPECTION DATE' column to datetime format
df['INSPECTION DATE'] = pd.to_datetime(df['INSPECTION DATE'])

# Extract year from 'INSPECTION DATE' column and create new 'INSPECTION YEAR' column
df['INSPECTION YEAR'] = df['INSPECTION DATE'].dt.year

In [ ]:
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,INSPECTION YEAR
40,41676490,AOYU SUSHI,Bronx,3532,JOHNSON AVENUE,10463.0,Japanese,2019-03-05,Violations were cited in the following area(s).,02B,...,Cycle Inspection / Initial Inspection,40.886026,-73.909849,208.0,11.0,29500.0,2084151.0,2.057930e+09,BX29,2019
75,50082192,SUMO SUSHI,Brooklyn,139,HAVEMEYER STREET,11211.0,Japanese,2019-10-03,Violations were cited in the following area(s).,02B,...,Cycle Inspection / Initial Inspection,40.711987,-73.957281,301.0,34.0,52300.0,3330369.0,3.024090e+09,BK73,2019
78,50090510,RICO POLLO III,Brooklyn,4523,5 AVENUE,11220.0,Spanish,2022-05-18,Violations were cited in the following area(s).,02B,...,Cycle Inspection / Initial Inspection,40.647723,-74.007575,307.0,38.0,9600.0,3329833.0,3.007480e+09,BK34,2022
86,50054404,EL NUEVO JOBO RESTAURANT & BAR,Manhattan,3915,BROADWAY,10032.0,Latin American,2022-07-07,Violations were cited in the following area(s).,02B,...,Cycle Inspection / Initial Inspection,40.838234,-73.941837,112.0,7.0,24500.0,1063371.0,1.021370e+09,MN36,2022
90,50087216,BUUNNI COFFEE,Manhattan,4961,BROADWAY,10034.0,Coffee/Tea,2022-09-22,Violations were cited in the following area(s).,04M,...,Cycle Inspection / Re-inspection,40.867974,-73.920247,112.0,10.0,30300.0,1064994.0,1.022420e+09,MN01,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205316,50001468,BLUE RIBBON FRIED CHICKEN,Manhattan,28,EAST 1 STREET,10003.0,Chicken,2022-03-16,Violations were cited in the following area(s).,10B,...,Cycle Inspection / Initial Inspection,40.724324,-73.990937,103.0,2.0,3602.0,1087698.0,1.004570e+09,MN22,2022
205317,50072483,King of Spades,Queens,1425,COLLEGE POINT BLVD,11356.0,American,2022-09-20,Violations were cited in the following area(s).,08A,...,Cycle Inspection / Re-inspection,40.784732,-73.845775,407.0,19.0,92900.0,4098349.0,4.040850e+09,QN23,2022
205318,50080649,TURKO'S GRILL,Brooklyn,110,MOORE STREET,11206.0,Mediterranean,2019-06-05,Violations were cited in the following area(s).,10H,...,Pre-permit (Non-operational) / Re-inspection,40.703872,-73.941215,301.0,34.0,49100.0,3071521.0,3.031060e+09,BK90,2019
205319,41471899,MING XING BBQ RESTAURANT,Queens,3514,FARRINGTON STREET,11354.0,Korean,2022-04-25,Violations were cited in the following area(s).,04L,...,Cycle Inspection / Initial Inspection,40.764151,-73.831668,407.0,20.0,86900.0,4315215.0,4.049580e+09,QN22,2022
205320,50095290,SUBCONSCIOUS,Manhattan,1213,AMSTERDAM AVENUE,10027.0,Sandwiches/Salads/Mixed Buffet,2020-02-26,Violations were cited in the following area(s).,02B,...,Cycle Inspection / Re-inspection,40.809103,-73.959371,109.0,7.0,20701.0,1059514.0,1.019620e+09,MN09,2020

In [ ]:
missing_values = df.isnull().sum()
missing_values

CAMIS                    0
DBA                      0
BORO                     0
BUILDING                 0
STREET                   0
ZIPCODE                  0
CUISINE DESCRIPTION      0
INSPECTION DATE          0
ACTION                   0
VIOLATION CODE           0
VIOLATION DESCRIPTION    0
CRITICAL FLAG            0
SCORE                    0
GRADE                    0
RECORD DATE              0
INSPECTION TYPE          0
Latitude                 0
Longitude                0
Community Board          0
Council District         0
Census Tract             0
BIN                      0
BBL                      0
NTA                      0
INSPECTION YEAR          0
dtype: int64

In [ ]:
# assuming the dataframe is named `df`
export_path = "final.csv"

# export the dataframe to CSV file
df.to_csv(export_path, index=False)